#bgvideo { 
    margin-left:0;
    min-width: 100%; 
    min-height: 100%;  
    height: auto; 
    position: fixed; 
    top: 0px;
    left: 0px;
    z-index:-10;
}
           
body {
    text-align: center;
}

#congrats{
	margin-top:5%;
}

.enter {
	margin-top: 4%;
	padding-top: 1%;
    background-color: rgba(224, 228, 235, 0.2);
    height: 250px;
}

h2 {
    color:white;
    font-size: 70px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 6px 2px 2px rgb(97, 93, 93);
    margin-bottom: -5px;
}
.scoreinputs {
	margin-top:1%;
    color: rgb(247, 246, 242);
    font-family: Arial, Helvetica, sans-serif;
    margin-left:auto; 
    margin-right:auto;
    width: 400px;
    font-size: 30px;
}

#donebtn {
	margin-top:1%;
}


.inputconts {
    text-align: left;
    color: lightgray;
    font-size: 30px;
    margin-left:28%;
    border:1px;
    background-color: transparent !important;
}

#comment {
    text-align: left;
    color: lightgray;
    font-size: 30px;
    margin-left:10%;
    border:1px;
    background-color: transparent !important;
}

#crown {
    width: 100px;
    height: 100px;
   margin-bottom: -50px;
}

#top3 {
	margin-top: 2%;
	color:white;
    font-size: 40px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 6px 2px 2px rgb(97, 93, 93);
}

#top3table {
	margin-top:1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left:auto; 
    margin-right:auto;
    min-width: 40%;
    height: auto;
    border-radius: 20px;
    border-spacing: 10px;
    font-size: 30px;
    background-color: rgba(224, 228, 235, 0.8);
}
.tablehead {
    color:darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(97, 93, 93);
}
#tableRow {
    box-shadow: 0px 0px 15px  gray;
}

.rank {
    color:rgb(223, 23, 23);
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    color : purple;
    text-transform: lowercase;
    text-shadow: 2px 2px 2px rgb(97, 93, 93);
}
.rankconts {
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(97, 93, 93);
    color: darkslategray;
}

th {
    font-family: "Comic Sans", sans-serif;
}



button {
    font-family: "proxima-nova", sans-serif;
    font-size: 30px;
    width: 20%;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color:white;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid white;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
    
}


button:hover{
    border: 1px solid #071982;
      color: #80ffd3!important;
}
button::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #071982;
    position: absolute;
      -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
       box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

button::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
button:hover::before, .btn1O:hover::before{
    opacity:1;
    width: 116%;
}
button:hover::after, .btn1O:hover::after{
    opacity:1;
    width: 120%;
}