.jb-box { min-width: 1024px; min-height: 100%; width: 100%; height: auto; 
    overflow: hidden; margin: 0px auto; position: fixed; 
          background-size: cover;}
          
video { width: auto; }
          
.backbtn {
    margin-left: 40px;
    margin-top: 30px;
    width: 80px;
    height: 80px;
}
.box {
    margin-left: 150px;
    border-radius: 50px 50px 50px 50px;
    box-sizing: border-box;
    width: 1500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
              
}
td {
    text-align: center;
    
}
.tg {  
    font-size: 30px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 0px rgb(99, 94, 94);
    letter-spacing: 2px;
}
.category {
 
    position: fixed;
    word-spacing: 150px;
    font-size: 30px;
    width: auto; 
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    color: rgb(255, 238, 0);
    text-shadow: 6px 2px 2px rgb(99, 94, 94);
     
}
th {
    word-spacing: 150px;
    font-size: 30px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    color: rgb(255, 238, 0);
    text-shadow: 6px 2px 2px rgb(99, 94, 94);
}
.category p {
   
    align-self: auto;
    text-align: center;
    font-size: 50px;  
    height: 0px; 
   
}
.btnleft {
    float: left;
    margin-top: 60px;
    margin-left: 550px;
    height: 80px;
    width: 80px;
  
}
.btnright {
    float: right;
    margin-top: 60px;
    margin-right: 450px;
    height: 80px;
    width: 80px;
}
