@media only screen and (max-width: 600px) {

  .footer-text,
  .dg {
      display: none;
  }
}
/*
*  The following loading spinner CSS is from SpinKit project
*  https://github.com/tobiasahlin/SpinKit
*/
.sk-spinner-pulse {
  width: 20px;
  height: 20px;
  margin: auto 10px;
  float: left;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }

  100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }

  100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
  }
}

body{
  background-image:url("images/tetrisWallpaper.jpg")
}

#bgscreen{
  min-width: 100%; 
  min-height: 100%;  
  height: auto; 
  position: fixed; 
}

html { 
  cursor:url(images/cur116.cur), auto;
}

.game {
  margin-left: 10%;
  width: 90%;
  height: auto;
  margin-bottom: 5%;
}

#motion {
  margin-top : 15%;
  margin-right: 70px;
  width: 80%;
  height: 60%;
  float: right;
}

.sec1 {
  height: 99%;
  position:absolute;
  width:50%;
  left:0;
}
.sec2 {
  height: 99%;
  position:absolute;
  width:50%;
  right:0;
}  

button {
  font-family: "proxima-nova", sans-serif;
  font-size: 50px;
  width: 50%;
  margin-left: 18%;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: -2px 0 #040e30, 0 2px #040e30, 2px 0 #040e30, 0 -2px #040e30;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius:50px;
  position: relative;
  margin-bottom:3%;
  overflow: hidden!important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: transparent!important;
  
}

button:hover{
  border: 1px solid #071982;
    color: #80ffd3!important;
}
button::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #071982;
  position: absolute;
    -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

button::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
button:hover::before, .btn1O:hover::before{
  opacity:1;
  width: 116%;
}
button:hover::after, .btn1O:hover::after{
  opacity:1;
  width: 120%;
}