.jb-box { width: 100%; height: auto; 
    overflow: hidden; margin: 0px auto; position: fixed; 
          background-size: cover;
        z-index: -1;}
          
video { width: auto; }
            

.head {
    text-align: center;
    color: rgb(247, 246, 242);
    font-family: Arial, Helvetica, sans-serif;

}

body {
    text-align: center;
}
.enter {
    background-color: rgba(224, 228, 235, 0.2);
    height: 300px;

}

.tg1 {
    margin-top: 20px;
    color: rgb(247, 246, 242);
    font-family: Arial, Helvetica, sans-serif;
    margin-left:auto; 
    margin-right:auto;
}

.tg2 {
    color: rgb(247, 246, 242);
    font-family: Arial, Helvetica, sans-serif;
    margin-left:auto; 
    margin-right:auto;
}

.tg3 {
    color: rgb(247, 246, 242);
    font-family: Arial, Helvetica, sans-serif;
    margin-left:auto; 
    margin-right:auto;
}

.text1 {
    size: 50px;

}
h2 {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 6px 2px 2px rgb(97, 93, 93);
    margin-bottom: -5px;
}


.tg1 {
    width: 550px;
    font-size: 30px;
}
.tg2 {
    width: 400px;
    font-size: 30px;
}
.tg3 {
    width: 400px;
    font-size: 30px;
}
.score {
    font-size: 25px;
}

.name {
    text-align: right;
}
.comment {
    text-align: right;
}

.toptable {
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 10px;
    font-size: 30px;
    background-color: rgba(224, 228, 235, 0.8);
    width: 50%;
    
   
}
.text4 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(97, 93, 93);
    
}

.text5 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(97, 93, 93);
    
}

.rank {
    color:rgb(223, 23, 23);
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(97, 93, 93);
}

th {
    font-family: "Comic Sans", sans-serif;
}




button {
    font-family: "proxima-nova", sans-serif;
    font-size: 30px;
    width: 20%;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color:white;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid white;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
    
}


button:hover{
    border: 1px solid #071982;
      color: #80ffd3!important;
}
button::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #071982;
    position: absolute;
      -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
       box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

button::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
button:hover::before, .btn1O:hover::before{
    opacity:1;
    width: 116%;
}
button:hover::after, .btn1O:hover::after{
    opacity:1;
    width: 120%;
}

.jb-box { min-width: 1024px; min-height: 100%; width: 100%; height: auto; 
    overflow: hidden; margin: 0px auto; position: fixed; }
video { width: auto; }
.jb-text { position: fixed; top: 20%; width: 100%; }
.jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; }
.container {
position: relative;
}

.img1 {
    width: 100px;
    height: 100px;
   margin-bottom: -50px;
}
