html {
    cursor:url(images/cur116.cur), auto;
    background: url(images/tet.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .backbtn {
    cursor: url(images/cur117.cur), pointer;
    margin-left: 30px;
    margin-top: -30px;
    width: 80px;
    height: 80px;
    filter: drop-shadow(8px 8px 8px rgb(32, 25, 25)); 
}

.backbtn:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

  h1 {
    color:rgb(254, 255, 255);
    font-size: 60px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 5px 2px 2px rgb(97, 93, 93);
    text-align: center;
    margin-bottom: -10px;
    margin-top: -15px;



}

.pose {
    text-align: center;
    margin-top:7%;
    margin-left:15%;
    border:10px solid;
    border-radius: 80px;
    border-color: darkgreen;
    width : 500px;
    height: 750px;
    background-color: rgba( 255, 255, 255, 0.5 );
    filter: drop-shadow(15px 8px 8px rgb(0, 0, 0)); 
}

.sec1 {
    height: 85%;
    position:absolute;
    width:30%;
    left:0;
}
.sec2 {
    height: 85%;
    position:absolute;
    width:30%;
    left:32%;
}  
.sec3 {
    height: 85%;
    position:absolute;
    width:30%;
    left:64%;
}  
.sec4 {
    height: 85%;
    position:absolute;
    width:30%;
    left:15%;
}  
.sec5 {
    height: 85%;
    position:absolute;
    width:30%;
    left:50%;
}  
.block{
    border:5px solid;
    border-radius: 30px;
    border-color: darkgreen;
    margin-top : 10px;
    margin-bottom: -40px;
}
.left {
    cursor: url(images/cur117.cur), pointer;
    float: left;
    margin-left: 50px;
    height: 80px;
    width: 80px;
    filter: drop-shadow(8px 8px 8px rgb(32, 25, 25)); 
}
.right {
    cursor: url(images/cur117.cur), pointer;
    float: right;
    height: 80px;
    width: 80px;
    filter: drop-shadow(8px 8px 8px rgb(32, 25, 25));  
}

.left:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

.right:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

 #hintplay {
    float: right;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -60px;
    cursor: url(images/cur117.cur), pointer;
    filter: drop-shadow(4px 4px 4px rgb(32, 25, 25)); 
    margin-left: 50px;
    margin-left: 130px;
    margin-bottom: -5px;
}