html {
    cursor:url(images/cur116.cur), auto;
}

#bgvideo { 
    margin-left:0;
    min-width: 100%; 
    min-height: 100%;  
    height: auto; 
    position: fixed; 
    top: 0px;
    left: 0px;
    z-index:-10;
}

#backbtn {
    position: fixed;
    margin-left: 40px;
    margin-top: 30px;
    width: 80px;
    height: 80px;
    filter: drop-shadow(4px 4px 4px rgb(32, 25, 25)); 
}
#backbtn:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

 }

#cup {
    width: 150px;
    height: 130px;
    display: block;
    margin-top: 2%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1%;
    filter: drop-shadow(8px 8px 8px rgb(32, 25, 25)); 
}

h2 {
    color : rgb(255, 230, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    word-spacing: 100px;
    text-shadow: 6px 2px 2px rgb(97, 93, 93);
    margin-top: 0%;
    text-align: center;
    margin-bottom: 2%;
}

#box {
    margin-left:auto;
    margin-right:auto;
    border-radius: 20px;
    box-sizing: border-box;
    width: 1700px;
    height: auto;
    box-shadow: 0px 0px 40px grey;
    background-color: rgba(255, 255, 255, 0.5);

    
}
#rankingList {  
    width: 1700px;
    font-size: 30px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 0px rgb(99, 94, 94);
    letter-spacing: 2px;
}
th {
    font-size: 35px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    color: rgba(112, 128, 144, 0.6);
    text-shadow: 2px 2px 2px rgb(80, 77, 77);
}
#tableRow {
    box-shadow: 0px 0px 25px  rgb(97, 157, 236)
}
td {
    text-align: center;
    font-size: 35px;
    font-family: "Comic Sans", sans-serif;
    color: rgba(47, 79, 79, 0.7);
    text-shadow: 1px 1px 1px rgb(80, 77, 77);
}

#name {
    min-width:200px;
}
#note {
    min-width:450px;
}

#replayimg {
    width: "40px";
    height: "40px";

}

#date {
    min-width:250px;
    word-spacing: 20px;
    font-size: 28px;
    font-family: "Comic Sans", sans-serif;
    color: rgba(47, 79, 79, 0.4);
    text-shadow: 1px 1px 1px rgb(80, 77, 77);
}
#btnLR { 
    margin-top:2%;
}

#btnleft {
    float: left;
    margin-left: 15%;
    height: 80px;
    width: 80px;
    filter: drop-shadow(4px 4px 4px rgb(32, 25, 25)); 
}

#btnleft:hover {
    background-image: url(images/leftover.png);

}

#btnright {
    float: right;
    margin-right: 15%;
    height: 80px;
    width: 80px;
    filter: drop-shadow(4px 4px 4px rgb(32, 25, 25)); 
}


